<div class="product-box">
  <img src="" alt="Product Image">
  <div class="product-title">Sample Product Title</div>
  <div class="product-price">$29.99</div>
  <div class="product-description">
    This is a short description of the product. It's engaging and informative, just like you'd see on a store page.
  </div>
  <button class="buy-button">Add to Cart</button>
</div>

<figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
  <a href="preview.html">
  <div class="tm-gallery-item-overlay">
      <img src="$image" alt="Image" class="img-fluid tm-img-center" width="250" height="360">
  </div>
  <div class="product-title">Sample Product Title</div>
  <div class="product-price">$29.99</div>
  <div class="product-description">
  This is a short description of the product. It's engaging and informative, just like you'd see on a store page.
  </div>

  <p class="tm-figcaption">Nam vitae odio</p>
  </a>
</figure>